extends ../layout

block content
  script(type="application/javascript", src="/javascripts/home/educator_home.js")
  .callout.secondary.text-center
    h1 Educator Home
    p.lead This home page provides access to all the questions you've asked so far.
    div(align='center')
      a(href='/questions/new', class='button large success') Ask New Question
  
  
  .row.text-center
    h2 Your Groups
    
    if groups.length < 1
      h3 You have no groups yet ):
    else
      
      table(align='center')
        thead 
          th Group Name 
          th Number Members
        tbody 
          each g in groups 
            tr 
              td 
                a(href='/groups/show/#{g._id}') #{g.name}
              td #{g.members.length}
              
                
        
    
    .row 
      .small-4.columns 
        p   
      .small-4.columns
        .button.primary.large#newGroupButton New Group
        div#newGroupContainer
          form(id="newGroupForm", method="post", action="/groups/new")
            input(type='text', name='groupName', placeholder="New group name", required)
            textarea(name='about', placeholder="Give this group a description")
            input(type='submit', class='button success', value='Create')
      .small-4.columns
        
    
  .callout
    .row.text-center
      h2 Your questions
    each q in questions 
      .row
        .medium-4.columns  
          h4 #{q.questionText}
          h5 #{q.marksAvailable} Marks available
          a(href='/questions/editQ/#{q._id}', class='button primary') Edit
        .medium-4.columns.text-center
          a(class='button primary', href='/answers/forQuestion/#{q._id}') See answers
          a(class='button secondary', href='/questions/show/#{q._id}') See question
        .medium-4.columns.text-center
          label Sharable link...
          input(type='text', value='#{base_protocol}://#{base_url}/questions/show/#{q._id}',onclick="this.select();")
        hr
      
    
