extends ../layout
  
block content 
       
  //- Place (but hide) molecular structures for JSME
  #stringified_uniqueValues(style='display:none;')
    | #{stringified_uniqueValues}
  #problem-molecule(style='display:none;')
    | #{question.molecule_jme}
  #answer-molecule(style='display:none;')
    | #{question.answerMolecule_jme}
  .row.large-12.columns
    h3 Question: 
    h2 #{question.questionText}
    hr
    include ../JSME/answersforquestion.html
      
  hr
  .row.large-12.columns
    if typeof(uniqueValues) == 'undefined'
      h2 There are no answers to this question yet
    else if uniqueValues.length == 0
      h2 There are no answers to this question yet
    else
      each structure in uniqueValues
        .row 
          .large-6.columns
            h3 Structure: #{structure.val}
            h4 Count: #{structure.count}
            each ans in structure.ids
              .row
                a(href='/answers/show/#{ans}') Answer 
          .large-6.columns
            h3 Diagram of Structure
            div(id="jsme_container_#{structure.ids[0]}", width = '400px')
        hr 
