extends ../layout
  
block content 
  script.
    var question = interpretStringNodeObject("#{question_string}")
    
  
       
  //- Place (but hide) molecular structures for JSME
  #stringified_uniqueValues(style='display:none;')
    | #{stringified_uniqueValues}
  #problem-molecule(style='display:none;')
    | #{question.molecule_jme}
  #answer-molecule(style='display:none;')
    | #{question.answerMolecule_jme}
  .row.large-12.columns
    br
    .row
      .large-3.columns 
        h4 Marks Available
      .large-9.columns
        h5 #{question.marksAvailable}
    .row
      .large-3.columns 
        h4 Question Text: 
      .large-9.columns
        h5 Question Text: #{question.questionText}
    .row 
      .large-3.columns
        h4 Explanation: 
      .large-9.columns 
        h5 #{question.explanationText}
      hr
      include ../JSME/answersforquestion.html
      
    hr
      
    //- Detail Each unique chemical structure given 
    .row.large-12.columns
      if typeof(uniqueValues) == 'undefined'
        h2 There are no answers to this question yet
      else if uniqueValues.length == 0
        h2 There are no answers to this question yet
      else
        each structure in uniqueValues
          .row 
            .large-6.columns
              h3 Structure: #{structure.val}
              h4 Count: #{structure.count}
              .row(align='center')
                each ans in structure.ids
                  a(href='/answers/show/#{ans}') Answer 
                  
            .large-6.columns
              h3 Diagram of Structure
              div(id="jsme_container_#{structure.ids[0]}", width = '400px')
          
          //- Provide Feedback for all answers of specific question
          .row(align='center')
            br
            h3 Provide feedback for all answers
          .row
            .large-3.columns
              p 
            .large-6.columns
                input(type='hidden', name='Question', id='#{structure.val}_Question' value="#{question}")
                input(type='hidden', name='Molecule', id='#{structure.val}_Molecule', value="#{structure.val}")
                input(type='hidden', name='AnswerIds',id='#{structure.val}_AnswerIds', value='#{structure.ids}')
                input(type='hidden', name='isForSpecificAnswer', id='#{structure.val}_isForSpecificAnswer', value=false)
                input(type='hidden', name='Structure_smiles', id='#{structure.val}_Structure_smiles', value='#{structure.val}')
                
                label Number of Marks Awarded
                input(type='number', name='Mark', id='#{structure.val}_marksAwarded' required)
                  
                label Feedback
                textarea(rows=4, name='FeedbackText', id='#{structure.val}_feedback', placeholder='Provide feedback', required)
                .row(align='center')
                  .button.default(onclick='createGenericFeedback("#{structure.val}", question)') Submit
            .large-3.columns
            
          hr 
